<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <app-navigation></app-navigation>
    <div class="row" id="content">
        <router-outlet></router-outlet>
    </div>
    <app-add-tag [universityId]=1 [subjectId]=1></app-add-tag>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <app-universities></app-universities>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <!--needs to be nested in subject and pass subject and uni ids-->
            <app-subject-comments></app-subject-comments>
        </div>
    </div>
    <div toastContainer></div>
</div>
