[*]
charset=utf-8
end_of_line=lf
indent_style=space
indent_size=4
trim_trailing_whitespace = true
insert_final_newline=true

[*.java]
indent_style=space
indent_size=4
continuation_indent_size=2
max_line_length=100

[{Jenkinsfile,*.gradle,*.groovy,*.gant,*.gdsl,*.gy}]
indent_style=space
indent_size=4

[*.md]
max_line_length = off
trim_trailing_whitespace = false
