# Thanks to https://oncletom.io/2016/travis-ssh-deploy/ for the tut on travisci ssh deploys

sudo: required

env:
  - SERVER=35.189.9.179

services:
  - docker

addons:
  ssh_known_hosts: $SERVER

script:
  - mvn clean install -Ptest && mvn clean package -DskipTests

before_deploy:
  - openssl aes-256-cbc -K $encrypted_9a783048ece8_key -iv $encrypted_9a783048ece8_iv -in deploy_rsa.enc -out /tmp/deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/deploy_rsa
  - ssh-add /tmp/deploy_rsa

after_success:
#  - if [ "$TRAVIS_BRANCH" == "master" ]; then
  - docker build -t subjecthub/backend .;
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker tag subjecthub/backend yaseenk/subjecthub:latest;
    docker push yaseenk/subjecthub:latest;
#    fi

deploy:
  provider: script
  skip_cleanup: true
  script: ssh spring@$SERVER 'bash /data/run-new-version.sh $DOCKER_USERNAME $DOCKER_PASSWORD'
  on:
    all_branches: true
