<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#user-details-dropdown" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#">
                <img id="nav-image" src="../../assets/nav-header.png">
            </a>
        </div>
        <div class="navbar-collapse collapse" id="user-details-dropdown">
            <ul class="nav navbar-nav navbar-right">
                <ng-container *ngIf="user == null">
                    <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
                    <li routerLinkActive="active"><a routerLink="/register">Register</a></li>
                </ng-container>
                <ng-container *ngIf="user != null">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Your profile</a></li>
                            <li><a href="#">Comments</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Account Settings</a></li>
                            <li><a href="#" (click)="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ng-container>
            </ul>
        </div>

    </div>
</nav>
