<div *ngIf="isLoading" class="spinner">
    <app-spinner></app-spinner>
</div>
<div *ngIf="!isLoading" class="col-md-8 col-md-offset-2">
    <div class="row center">
        <div>
            <h1>
                <a class="title" href="#" (click)="navigateBack()">
                    <!--TODO: link to previous page, OR, subject's university's search-->
                    <i class="glyphicon glyphicon-circle-arrow-left"></i> {{subject.name}} ({{subject.code}})
                </a>
            </h1>
        </div>
        <div>
            <span *ngFor="let tag of subject.tags">#{{tag.name}} </span>
            <!-- Tag-->
            <app-add-tag [universityId]="universityId" [subjectId]="subjectId"></app-add-tag>
        </div>
        <div>
            <h3><small>{{subject.faculty.code}} :: {{subject.creditPoints}} Credit Points</small></h3>
            <ng-container *ngIf="user != null && user.admin">
                <button class="btn btn-danger" (click)="deleteSubject()">Delete</button>
            </ng-container>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6 text-center">
            <h3><small>Student Type: {{subject.studentType}}</small></h3>

        </div>
        <div class="col-md-6 text-center">
            <h3><small>Availability: {{subject.session}}</small></h3>
        </div>
    </div>
    <hr/>
    <!-- Description -->
    <div class="row">
        <h3><small>Description</small></h3>
        <p>{{subject.description}}</p>
    </div>
    <div class="row">
        <h3><small>Requirements</small></h3>
        <p>{{subject.minRequirements}}</p>
    </div>
    <hr/>
    <!-- Assignments-->
    <div *ngFor="let assessment of subject.assessments" class="row">
        <h4>{{assessment.name}} &nbsp;&nbsp;<small>Weight: {{assessment.weighting}}%</small></h4>
        <p>{{assessment.description}}</p>
    </div>
    <hr/>
    <!-- Comment-->
    <div class="row">
        <app-subject-comments [universityId]="universityId" [subjectId]="subjectId"></app-subject-comments>
    </div>

</div>
