<div *ngIf="isLoading">

    <app-spinner></app-spinner>
</div>
<!-- Subjects  -->
<div *ngIf="!isLoading">
    <div *ngIf="!isEditingSubject">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>
                    <a class="title" (click)="goBack()">
                        <!--TODO: link to previous page, OR, subject's university's search-->
                        <i class="glyphicon glyphicon-circle-arrow-left"></i> {{university.abbreviation}}: {{faculty.code}}
                        - Subjects
                    </a>
                </h1>

            </div>
            <div class="col-md-12" *ngIf="!fatalMessage">
                <div *ngIf="isLoading">
                    <app-spinner></app-spinner>
                </div>
                <!-- Filter and Create Subject -->
                <div class="row">
                    <div class="col-md-2 pull-right">
                        <button (click)="showSubjectForm()" type="button" class="btn btn-labeled btn-primary">
                  <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>
                  Create Subject
              </button>
                    </div>
                    <div class="col-md-2 pull-right">
                        <input placeholder="Filter Subjects" class="form-control" name="subjectFilter" [(ngModel)]="filterSubjects" />
                    </div>
                </div>
                <hr/>
                <!-- Table View -->
                <div class="scroll">
                    <table class="table table-responsive core-table">
                        <thead>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Faculty</th>
                            <th>Assessments</th>
                            <th>Actions</th>
                        </thead>
                        <ng-container *ngIf="subjects.length != 0">
                            <tbody *ngFor="let subject of subjects | filter: 'name' : filterSubjects">
                                <tr>
                                    <td>{{subject.code}}</td>
                                    <td>{{subject.name}}</td>
                                    <td>{{subject.faculty.code}}</td>
                                    <td><a [routerLink]="['/admin', 'university', university.id, 'subject', subject.id, 'assessment']">Assessments</a></td>
                                    <td>
                                        <button (click)="showSubjectForm(subject)" class="btn-action">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </table>
                    <div class="col-md-4 col-md-offset-4 text-center" *ngIf="subjects.length == 0">
                        <h4>No Subjects exist.</h4>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
    <div *ngIf="isEditingSubject">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2 *ngIf="isCreate">Create New Subject</h2>
                <h2 *ngIf="!isCreate">Edit Subject</h2>
                <form>
                    <div [className]="setErrorClass('name')">
                        <label>Name</label>
                        <input class="form-control" name="subjectName" [(ngModel)]="selectedSubject.name" />
                        <span *ngIf="errors.name" class="help-block">{{errors.name}}</span>
                    </div>
                    <div [className]="setErrorClass('code')">
                        <label>Code</label>
                        <input class="form-control" name="subjectCode" [(ngModel)]="selectedSubject.code" />
                        <span *ngIf="errors.code" class="help-block">{{errors.code}}</span>
                    </div>
                    <div [className]="setErrorClass('creditPoints')">
                        <label>Credit Points</label>
                        <input class="form-control" name="subjectCreditPoints" [(ngModel)]="selectedSubject.creditPoints" />
                        <span *ngIf="errors.creditPoints" class="help-block">{{errors.creditPoints}}</span>
                    </div>
                    <div [className]="setErrorClass('description')">
                        <label>Description</label>
                        <textarea class="form-control" name="subjectDescription" [(ngModel)]="selectedSubject.description">
                        </textarea>
                        <span *ngIf="errors.description" class="help-block">{{errors.description}}</span>
                    </div>
                    <div [className]="setErrorClass('minRequirements')">
                        <label>Minimum Requirements</label>
                        <textarea class="form-control" name="subjectMinRequirements" [(ngModel)]="selectedSubject.minRequirements">
                        </textarea>
                        <span *ngIf="errors.minRequirements" class="help-block">{{errors.minRequirements}}</span>
                    </div>
                    <div [className]="setErrorClass('graduateType')">
                        <label>Graduate Type</label>
                        <div class="radio">
                            <label>
                                <input
                                    type="radio"
                                    name="graduateRadios"
                                    [checked]="selectedSubject.undergrad"
                                    (click)="setGraduateType(true)"
                                    />
                                      Undergraduate
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                    <input
                                    type="radio"
                                    name="graduateRadios"
                                    [checked]="selectedSubject.postgrad"
                                    (click)="setGraduateType(false)"
                                    />
                                      Postgraduate
                                    </label>
                        </div>
                        <span *ngIf="errors.graduateType" class="help-block">{{errors.graduateType}}</span>
                    </div>
                    <div [className]="setErrorClass('session')">
                        <label>Session</label>
                        <div class="checkbox">
                            <label>
                                <input
                                    type="checkbox"
                                    name="summer"
                                    [checked]="selectedSubject.summer"
                                    (click)="setSession('summer')"
                                    />
                                    Summer
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input
                                    type="checkbox"
                                    name="autumn"
                                    [checked]="selectedSubject.autumn"
                                    (click)="setSession('autumn')"
                                />
                                Autumn
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input
                                    type="checkbox"
                                    name="spring"
                                    [checked]="selectedSubject.spring"
                                    (click)="setSession('spring')"
                                />
                                Spring
                            </label>
                        </div>
                        <span *ngIf="errors.session" class="help-block">{{errors.session}}</span>
                    </div>

                    <div class="form-group">
                        <button (click)="submit()" class="bnt btn-primary form-control">Submit</button>
                    </div>
                    <div class="form-group">
                        <button (click)="hideSubjectForm()" class="bnt btn-danger form-control">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
