.scroll {
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.btn-uni-action {
  background: none;
  border: none;
  color: #494949;
  font-size: 24px;
}

.btn-uni-action:hover {
  color: red;
}

.title,
.title:hover {
  color: black;
  text-decoration: none;
}

.title:hover > i {
  color: red;
}
