body {
  margin-top: 20px;
  background-color: #eee;
}
.search-result-item-body-faded {
  margin-left: 200px;
  opacity: 0.3;
}

.search-result-item-body-faded:hover {
  margin-left: 200px;
  opacity: 1;
}

.search-result-categories > li > a {
  color: #b6b6b6;
  font-weight: 400;
}

.search-result-categories > li > a:hover {
  background-color: #ddd;
  color: #555;
}

.search-result-categories > li > a > .glyphicon {
  margin-right: 5px;
}

.search-result-categories > li > a > .badge {
  float: right;
}

.search-results-count {
  margin-top: 10px;
}

.empty-search-result {
  padding: 20px;
  background-color: white;
  min-height: 200px;
  border: 1px solid #9c9c9c;
  box-shadow: 10px 10px 5px #888888;
}

.search-result-item {
  padding: 20px;
  background-color: white;

  border: 1px solid #9c9c9c;
  box-shadow: 10px 10px 5px #888888;
}

.search-result-item:after,
.search-result-item:before {
  content: ' ';
  display: table;
}

.search-result-item:after {
  clear: both;
}

.search-result-item .image-link {
  display: block;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media (min-width: 768px) {
  .search-result-item .image-link {
    display: inline-block;
    margin: -20px 0 -20px -20px;
    float: left;
    width: 200px;
  }
}

@media (max-width: 767px) {
  .search-result-item .image-link {
    max-height: 200px;
  }
}

.search-result-item .image {
  max-width: 100%;
}

.search-result-item .info {
  margin-top: 2px;
  font-size: 12px;
  color: #999;
}

.search-result-item .description {
  font-size: 13px;
}

.search-result-item + .search-result-item {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .search-result-item-body {
    margin-left: 200px;
  }
}

.search-result-item-heading {
  font-weight: 400;
}

.search-result-item-heading > a {
  color: #555;
}

@media (min-width: 768px) {
  .search-result-item-heading {
    margin: 0;
  }
}
.input-group select.form-control {
  margin-left: -4px;
  width: calc(100% + 4px);
}
.input-group .input-group-addon {
  z-index: 5;
  position: relative;
}
.title, .title:hover{
    color: black;
    text-decoration: none;
}
.title:hover > i{
    color: red;
}
.btn-default:hover {
    background-color: #eee;
    box-sizing: border-box;
}
.panel .well{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #f8f8f8;
    border: none;
}
.panel-default {
    margin-bottom: 15px;
}
.panel a, .panel a:hover {
    color: black;
}
/*alternative, only link changes color of arrow:*/
/*.panel a:hover > i {
    color: red;
}*/
.panel:hover > .contents i {
    color: red;
}
.panel-body .info {
    margin-top: -10px;
    font-size: 12px;
    color: #999;
}
.panel:hover {
    webkit-animation: on-result 2.5s 1;
    animation: on-result 2s 1;
}
@keyframes on-result {
    0% {box-shadow: none;}
    15% {box-shadow: 0 0 4px #888;}
    100% {box-shadow: none}
}
