<div>
    <h2>Comments</h2>
    <p *ngIf="fatalMessage" class="error">{{fatalMessage}}</p>
    <p *ngIf="message" class="error">{{message}}</p>
    <div *ngIf="!fatalMessage">
        <table *ngFor="i in comments">
            <tbody><tr>
                <td><button class="btn btn-default happy" onclick="this.thumbUp(i.id)">{{i.thumbsUp}}</button>
                    <br/>
                    <button class="btn btn-default sad" onclick="this.thumbDown(i.id)">{{i.thumbsDown}}</button>
                </td>
                <td *ngIf="i.isFlagged" style="color: darkgrey">{{i.post}}
                    <br/>posted at: {{i.postTime}}, by:{{i.user.name}}
                        <button class="btn btn-default happy" onclick="this.unflag(i.id)">!</button></td>
                <td *ngIf="!i.isFlagged">{{i.post}}
                    <br/>posted at: {{i.postTime}}, by:{{i.user.name}}
                        <button class="btn btn-default sad" onclick="this.flag(i.id)">!</button></td>
            </tr></tbody>
        </table>
    </div>
    <form *ngIf="canAddComment" [formGroup]="addCommentForm" (submit)="addComment(addCommentForm.value)">
        <p>Posting as: bob</p><!--need to get username from auth somehow-->
        <input formControlName="message" type="text" placeholder="Comment" class="form-control">
        <button class="btn btn-default">Post!</button>
    </form>
    <p *ngIf="!canAddComment">
        Need to login to post a comment!
    </p>
</div>
