.btn-uni-action {
  background: none;
  border: none;
  color: #494949;
  font-size: 24px;
}

.btn-uni-action:hover {
  color: #337ab7;
}

.tile {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
}

.tile .title {
    margin-top: 4px;
}

.tile:hover {
    background-color: #fafafa;
}

.tile:hover > .content .icon {
    color: #337ab7;
}

.tile .content {
    width: 100%;
}

.tile .content .text {
    text-align: left;
}

.tile .content .icon {
    text-align: right;
}
