.card {
    width: 100%;
    display: inline-block;
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    /* Cards css thanks to this post: https://www.w3schools.com/howto/howto_css_cards.asp */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card .title {
    margin-top: 4px;
}

.card:hover {
    box-shadow: 0 8px 18px 0 rgba(0,0,0,0.25);
}

a.card:hover {
  text-decoration: none;
}

.card:hover > .content .icon {
    color: #337ab7;
}

.card .content {
    width: 100%;
}

.card .content .text {
    text-align: left;
}

.card .content .icon {
    text-align: right;
}

img.img-responsive {
  max-height: 100px;
  margin: 0 auto;
}

p.img-label {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #585858;
  font-weight: 600;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
