<!-- search bar -->
<div class="row">
    <div class="col-md-12 text-center">
        <h2><a class="title" href="#">
            <i class="glyphicon glyphicon-circle-arrow-left"></i>
            Search Subjects at {{university.abbreviation}}:
        </a>
        </h2>
    </div>
    <div class=" col-xs-8 col-xs-offset-2">
        <div class="input-group">
            <div class="input-group-btn">
                <select (change)="filterSubjects()" [(ngModel)]="selectedFaculty" style="width: 137px;" class="form-control">
                    <option [ngValue]="null" disabled selected>Faculty</option>
                    <option [ngValue]=""></option>
                    <option [ngValue]="faculty" *ngFor="let faculty of faculties" >
                        {{faculty.code}}
                    </option>
            </select>
            </div>
            <input type="hidden" name="search_param" value="all" id="search_param">
            <input #searchForm id='search-form' class="search-query form-control" [(ngModel)]='term' (input)="search(searchForm.value)"
                placeholder="Search here..." />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>

        </div>
        <p class="search-instructions"> You can filter subjects using the search bar above using subject name, code, faculty, tag, description, undergrad/postgrad
            or season.</p>
    </div>
</div>
<!-- results -->
<div class="col-md-12">
    <p class="search-results-count">About {{displaySubjects.length}} results</p>
    <div>
        <section (click)="goToSubjectDetails(subject)" *ngFor="let subject of displaySubjects " class="panel panel-default">
            <div class="contents">
                <div class="text-left">
                    <h4 class="panel-heading well"><a [routerLink]="['/university', university.id, 'subject', subject.id]">{{subject.code}} - {{subject.name}}
                    <i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                    </h4>
                </div>
                <div class="text-left">
                    <h3>
                        <small>
                            <div class="col-md-12">
                                    <p class="info">
                                        <span *ngFor="let tag of subject.tags">
                                    #{{tag.name}}
                                </span>
                                    </p>
                                </div>
                    </small>
                    </h3>
                </div>

                <hr/>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="info">{{subject.creditPoints}} Credit Points :: {{subject.faculty.name}}
                            </p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p class="info">
                                Student Type: {{subject.studentType}}
                            </p>
                            <p class="info">
                                Availability: {{subject.session}}
                            </p>
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-md-12">
                            <p>{{subject.description}}</p>
                            <p></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h4>Requirements</h4>
                        </div>
                        <div class="col-md-12 ">
                            <p *ngIf="subject.minRequirements" class="fs-mini text-muted"> {{subject.minRequirements}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section *ngIf='displaySubjects.length === 0' class="empty-search-result">
            <div class="search-result-item-body">
                <div class="row">
                    <div class="col-sm-9 text-center">
                        <h2 style="text-transform: uppercase; letter-spacing:4px; color:#adadad; margin-top:10%">No Result</h2>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
