/* You can add global styles to this file, and also import other style files */
p.error {
  color: #a94442;
}

.toast-top-center {
  margin-top: 20px;
}

.wrapper {
  margin-top: 10vh;
}

.center {
  text-align: center;
  margin: 0 auto;
}
