/* You can add global styles to this file, and also import other style files */
/* Note, styles.css has to be last in .angular-cli.json in order to override other styles. */
p.error {
  color: #a94442;
}

.toast-top-center {
  margin-top: 20px;
}

.wrapper {
  margin-top: 10vh;
}

.center {
  text-align: center;
  margin: 0 auto;
}

body {
  padding-bottom: 30px;
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.core-table {
  font-size: 15px;
  text-align: center;
}

.core-table > thead > th {
  text-align: center;
}

.core-table > tbody > tr > td {
  vertical-align: middle;
}

.btn-action {
  background: none;
  border: none;
  color: #494949;
  font-size: 24px;
}

.btn-action:hover {
  color: #337ab7;
}

body {
  background: #f7f7f7;
  font-family: Muli;
}

p, span, h1, h2, h3, h4, h5, h6, div, a {
  font-family: Muli;
}
