.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.core-table {
  font-size: 15px;
  text-align: center;
}

.core-table > thead > th {
  text-align: center;
}

.core-table > tbody > tr > td {
  vertical-align: middle;
}

.scroll {
  max-height: 60vh;

  overflow-y: auto;
  overflow-x: hidden;
}

.btn-uni-action {
  background: none;
  border: none;
  color: #494949;
  font-size: 24px;
}

.btn-uni-action:hover {
  color: red;
}

.title,
.title:hover {
  color: black;
  text-decoration: none;
}

.title:hover > i {
  color: red;
}
