<div>
    <form [formGroup]="registerForm" (submit)="register(registerForm.value)">
        <h4>Register</h4>
        <div class="form-group">
            <label>Email Address</label>
            <ng-container *ngIf="attemptedRegister && email.invalid">
                <p class="error">
                    <ng-container *ngIf="email.errors.required">
                        Email is required.
                    </ng-container>
                    <!--Hack so we don't display both messages.-->
                    <ng-container *ngIf="email.errors.email && !email.errors.required">
                        Email is invalid.
                    </ng-container>
                </p>
            </ng-container>
            <input formControlName="email" type="email" placeholder="Email Address" class="form-control">
        </div>
        <div class="form-group">
            <label>Username</label>
            <ng-container *ngIf="displayUsernameError && username.invalid && (username.dirty || username.touched)">
                <p class="error" >
                    <ng-container *ngIf="username.errors.required">
                        Username is required.
                    </ng-container>
                    <ng-container
                        *ngIf="(displayUsernameError && username.errors.minlength) || username.errors.maxlength">
                        Username must be between 5-20 characters long.
                    </ng-container>
                </p>
            </ng-container>
            <input formControlName="username" type="text" placeholder="Username" class="form-control">
        </div>
        <div class="form-group">
            <label>Password</label>
            <ng-container *ngIf="displayPasswordError && password.invalid && (password.dirty || password.touched)">
                <p class="error" >
                    <ng-container *ngIf="password.errors.required">
                        Password is required.
                    </ng-container>
                    <ng-container *ngIf="displayPasswordError && password.errors.minlength">
                        Password must be 6 characters or greater.
                    </ng-container>
                </p>
            </ng-container>
            <input formControlName="password" type="password" placeholder="Password" class="form-control">
        </div>
        <!--Resetting authError so that if the user resubmits and it's unsuccessful, the alert appears again.-->
        <ngx-alert *ngIf="authError" type="danger" [dismissible]="true" (onClosed)="authError = null">
            <p>{{authError}}</p>
        </ngx-alert>
        <button class="btn btn-default">Register</button>
    </form>
</div>
